<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Java/workspaceIntelliJ/Shwapno">
        <classes>
            <class name="testCases.SelectYourDeliveryLocation">
                <methods>
                    <include name="setDeliveryLocation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>